<main class="container">
	<div class="column col-md-6">
		<section class="panel panel-default">
			<div class="panel-body">
				<app-calendar (selectedDate)="datePipe($event)"></app-calendar>
			</div>
		</section>
		<section class="panel panel-default">
			<div class="panel-body">
				<app-table-selector (selectedTable)="tablePipe($event)"></app-table-selector>
			</div>
		</section>
		<section class="panel panel-default">
			<div class="panel-body">
				<app-reserve (reservationDone)="reservationDone($event)"></app-reserve>
			</div>
		</section>
	</div>
	<div class="column col-md-6">
		<app-reservations (onCancel)="promoteCancel($event)"></app-reservations>
	</div>
</main>